<%= render partial: "information", locals: {application: @application} %>
Pets' Names:
<div class="nav-bar">
  <%= render partial: "show_pets", locals: {pets: @application.pets} %>
</div>
Application Status: <%= @application.status.titleize %>
<% if @application.in_progress? %>
  <section>
    <h3>Add a Pet to this Application</h3>
    <p>
      <%= form_with url:"/applications/#{@application.id}", method: :get, local: true do |form| %>
      <%= form.label :pet_name %>
      <%= form.text_field :pet_name %>
      <%= form.submit 'Search' %>
      <% end %>
    </p>
    <% if @pets %>
    <%= render partial: "adopt_pets", locals: {pets: @pets, application_id: @application.id} %>
    <% end %>
  </section>
  <% if !@application.pets.empty? %>
  <%= render partial: "submit", locals: {application_id: @application.id} %>
  <% end %>
<% end %>
