<h2><%= @shelter.name %></h2>
<%= @shelter.address %>
<%= @shelter.city %>
<%= @shelter.state %>
<%= @shelter.zip %><br>
<section id="section-stats">
  <p>Average Age of All Adoptable Pets: <%= @average_age_for_adoptable_pets %></p>
</section>
