<h2><%= @shelter.name %></h2>
<%= @shelter.address %>
<%= @shelter.city %>
<%= @shelter.state %>
<%= @shelter.zip %><br>
<section id="section-stats">
  <p>Count of Adoptable Pets: <%= @shelter.count_of_adoptable_pets %>
  <p>Average Age of All Adoptable Pets: <%= @shelter.average_age_for_adoptable_pets %></p>
</section>
